@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&display=swap');

.links {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 600;
    padding-right: 17px;
}

header {
    display: flex;
    height: 70px;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: 'DynaPuff', cursive;
}

.imagen {
    display: flex;
    align-items: center;
    color: whitesmoke;
}

.imagen img {
    height: 60px;
    margin-right: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DynaPuff', cursive;
}

.subtitulo1 {
    color: black;
    font-size: 2.5rem;
    margin-bottom: 35px;
}

.informacion {
    padding-top: 0;
    text-align: center;
}

.imgInformacion {
    width: 100px;
    height: 100px;
    padding: 7px;
    object-fit: cover;
    object-position: top;
}

.texto1 {
    width: 60%;
    margin: 0 auto;
}

.lista {
    height: 90px;
    margin: 2%;
    text-align: left;
}

.curso {
    margin-top: auto;
    color: black;
    font-size: 1.5rem;
    margin-bottom: 2px;
    text-align: center;
}

hr {
    margin-top: 40px;
}

pre {
    margin-top: 40px;
}